ol label {
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #a1a1a1;
}
ol .enable {
  font-size: 1.3em;
  font-weight: bold;
}
ol li {
  margin-top: 1em;
}
.exampleListContainer{
  padding: 3vh 10vw;
  position: fixed;
    top: 0px;
    left: 0px;
    background: #ededed;
    overflow: scroll;
  display: none;
}
.exampleList {
    height:  80vh;
    overflow: scroll;
}
.visible {
 display: block; 
}