# Copy to .env in this folder to override defaults. See README.md for details.

#OPENCV_REPO=https://github.com/opencv/opencv.git
#OPENCV_REF=master

#DOXYGEN2TYPESCRIPT_REPO=https://github.com/cancerberoSgx/mirada.git
#DOXYGEN2TYPESCRIPT_REF=master

#FORCE_REBUILD_OPENCVJS=0
#FORCE_REBUILD_DOCS=0
#TS_OUTPUT_SUBDIR=ts
